.light { background-color: #a0a0a0; }
.dark  { background-color: #707070; }

.piece-white { 
    color: #ffffff;
    cursor: not-allowed;
}
body.white-can-move .piece-white {
    cursor: grab;
}
body.white-can-move .piece-white:active {
    cursor: grabbing;
}

.piece-black { 
    color: #000000;
    cursor: not-allowed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard, .controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    position: relative;
}

.square {
    aspect-ratio: 1 / 1;
    line-height: 0;
    
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-layer { 
    position: absolute; /* lifts the SVG layer out of the normal grid flow so it can float on top of your chess squares. It anchors itself to the nearest parent with position: relative (which is why we added that to .chessboard).*/
    top: 0; left: 0; height: 400px; width: 100%; /* lay over chess board */
    pointer-events: none; /* don't block click events for the layer below */
}
.arrow-line  { stroke-width: 7; stroke-linecap: round; }