.light { background-color: #a0a0a0; }
.dark  { background-color: #707070; }

.piece-black { 
    color: #000000;
    cursor: not-allowed;
}
body.blacks-turn .piece-black {
    cursor: grab;
}
body.blacks-turn .piece-black:active {
    cursor: grabbing;
}

.piece-white { 
    color: #ffffff;
    cursor: not-allowed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    position: relative;
}

.square {
    aspect-ratio: 1 / 1;
    line-height: 0;
    
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}